<div class="container">
    {{#if error}}
        <p id="error">{{error}}</p>
    {{/if}}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Upload Image</h5>
                    <p id="indexCardTest">
                        Using the vision API, we are able to analyze images and provide users with captions that are relevent to them.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Upload caption </h5>
                    <p id="indexCardTest">
                        Certified Caption's crowd soures captions in order to get a better cross section of captions. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
