<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                
                    <h1 class="text-justify text-center">Searching for {{search}}</h1>

                    <hr class="my-4"> 
                    {{#each captions as |caption|}}
                        <p>{{caption}}</p>

                        <hr class="my-4"> 
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
